<% if user_signed_in? %>
<h1> You're Signed In! </h2>
<% else %>
<div class="container-fluid">
  <div class="row-fluid">
		<div class="center hero-unit">
		    <h1>Welcome to One Month Rails</h1>

		    <h3>
		      You've found the home page for the
		      <a href="http://omrails.com/">One Month Rails</a>
		      first application.
		    </h3>

		    <%= link_to "Sign up now!", new_user_registration_path, 
		                                class: "btn btn-large btn-primary" %>
		</div>
	
<% end %>

</div>
</div>